<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>TakeTrip App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <header>TakeTrip App</header>
  <section id='destination'>
    <label for="city">Destination</label>
    <input type="text" id="city" placeholder="Where do you want to go?">
  </section>
  <section id="departing">
    <label class="label">Departing</label>
    <input class="myInput" type="date" id="departing-date" placeholder="Enter departing date"></input>
  </section>
  <button id="search" type="submit"> Search </button>
  <section id="travelInfo">
    <section id="info">
      <p id="days"></p>
      <p id='weather'></p>
      <p id="temp"></p>
      <p id="hum"></p>
      <p id="cloud"></p>
    </section>
  </section>
  <section id='destination-photo'>
  </section>
  <section id="country-data">
    <p id="country"></p>
    <p id="capital"></p>
    <p id="region"></p>
    <p id="language"></p>
    <p id="currencie"></p>
  </section>
  <div class="title"><strong>Top Destinations<strong></div>
  <section id="mostVisited">
    <section id="images">
      <img src="../media/paris.jpeg" title="Paris" />
      <img src="../media/london.jpeg" title="London" />
      <img src="../media/amsterdam.jpeg" title="Amsterdam" />
    </section>
  </section>
</body>

</html>