body{
    padding: 100px;
    background: #fffff8;
    border:solid black;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: grid;
    grid-template-columns:1fr 1fr (1fr,auto);
    grid-template-rows:1fr 2fr 2f 1fr 2fr 1fr ;
    grid-row-gap:30px;
    grid-template-areas: 
    "hd hd hd"
    "city city city"
    "date date date"
    "search search search"
    "travel travel travel"
    "photo photo photo";
}

header{
    grid-area:hd;
    text-align: center;
}

.title {
    text-align: center;
}

#departing {
    grid-area: date;
}
#destination {
    grid-area: city;
}
#search {
    grid-area:search;
    width: 230px ;
}
#travelInfo {
    grid-area: travel;
}
#mostVisited{
   
    #images {
        grid-area: photo;
        display:flex;
        justify-content: space-between;
       
        img {
            width: 350px;
            height: 200px;
            }       
            
        }
}

    













@media(min-width:375px) and (max-width:900px) {
  
  
}