body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    display: grid;
    grid-template-rows: 50px repeat(4,1fr);
    grid-row-gap:50px;
    grid-template-areas: 
    "hd"
    "dest"
    "depart"
    "search"
    "weather"
    "places";
}

header{
    grid-area:hd;
    padding-left:600px;
}

#departing {
    grid-area: depart;
}
#destination {
    grid-area: dest;
}
#search {
    grid-area:search;
    width: 400px ;
}
#travelInfo {
    grid-area: weather;
}

#images {
    grid-area: places;
    display: flex;
    justify-content: space-evenly;
    img {
        width: 350px;
        height: 200px;
    }
    
    
}

#city {
    width:300px;
    height:60px;
}
#departing-date {
     width:300px;
    height:60px;
}





/*  Basic Styling To Override Default For Basic HTML Elements */


@media(min-width:375px) and (max-width:900px) {
    #app {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 50px;
    }
}